@import "tailwindcss";
@import "tw-animate-css";

@theme inline {
  --font-satoshi: 'Satoshi', sans-serif;
  --color-background: var(--background);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent: var(--accent);
  --color-active: var(--active);
  --color-secondary: var(--secondary);
  --color-primary: var(--primary);
  --color-theme: var(--theme);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

@utility container {
  @variant sm {
      max-width: 768px;
  }
  @variant md {
      max-width: 1024px;
  }
  @variant lg {
      max-width: 1280px;
  }
  @variant xl {
      max-width: 1440px;
  }

}

:root {
  --radius: 0.625rem;
  --background: #F4F5EF;
  --primary: #171717;
  --theme: #63CFA0;
  --secondary: #4A4A4A;
  --active: #DA6049;
  --accent: #34735F;
  --destructive: #AA3333;
  --border: #E5E5E5;
}



@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-primary font-satoshi;
  }
}
